@font-face{
  font-family: myFont;
  src: url("../public/Fonts/Rubik-VariableFont_wght.ttf");
}

*{
  box-sizing: border-box;
}
html {
  font-size: 17px;
  width: 100%;
  margin: 0px;
 }

 button{
  background-color: #f0f0f0;
 }

 body{
  margin: 0px;
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(to left,#35A29F, #088395,#071952);
}

.card-intro{
  color: #071952;
  font-family: myFont;
  background-color: #fcfdf8;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Title{
  font-weight: 700;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-intro button, .sub ,.re{
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #071952;
  width: 100%;
}

.card-intro button:not([disabled]):hover, .grid button:not([disabled]):hover, .sub:hover, .re:hover{
  opacity: 0.95;
  transform: scale(1.01);
  cursor: pointer;
}

.grid button:not([disabled]):hover{
  transform: scale(1.03)
}

.re{
  margin-top: 0px;
}
.sub{
  margin-top: 17px;
}

.intro{
  max-width: 375px;
  margin-bottom: 0px;
  text-align: center;
}

.intro h4 , .intro p{
  margin: 20px 5px;
}
.intro strong{
  margin-bottom: 18px;
}
.intro p{
  margin-bottom: 0;
}
.card-intro h3{
  background-color: yello;
}

.card{
  color: #071952;
  font-weight: 500;
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.75);
  max-width: 750px;
  font-family: myFont;
  background-color: #fcfdf8;
  border-radius: 5px;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 10px;
}

.Question-container{
  color: #071952;
  
  padding-bottom: 17px;
  border-bottom: 2px dashed #071952;
}

.grid button{
  color: #071952;
  font-weight: 400;
  height: 30px;
  font-size: 16px;
  border: none;
  height: auto;
  min-height: 30px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.grid button.true{
  background-color: #088395;
  opacity: 0.8;
  color:white;
}
.grid button.false{
  background-color: #eb8462;
  opacity: 0.8;
  color:white;
}

.grid button:not([disabled]):hover{
  color: white;
  background-color: #071952;
}

.grid .selected:hover{
  opacity:1 !important;
  transform: none !important;
}

.grid .selected{
  color: white;
  background-color: #071952;
}

@media (max-width: 500px){
  .grid{
    grid-template-columns: 1fr;
  }
  .card{
    padding: 15px;
  }
  body{
    padding: 10px;
  }
}